/*------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 2vw;
}

/*------------------------------------------------*/
/*NAVIGATION*/
/*------------------------------------------------*/

nav {
    position: fixed;
    
}

nav ul {
    list-style: none;
    margin-top: 15px;
    
    /* text-align: right; */
}

nav li {
    display: inline-block;
    margin-right: 15px;

}

nav a {
    color: rgb(114, 114, 114);
    text-decoration: none;
}

#mobile-nav, #mobile-nav-close {
    display: none;
}

/*------------------------------------------------*/
/*HOME*/
/*------------------------------------------------*/

#home {
    background-image: url("../img/sabri-tuzcu-331970.jpg");
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.photo-credit {
    float: right;
}

#welcome {
    color: white;
    font-size: 80%;
    font-weight: 300;
    line-height: 10px;
    text-align: center;
}

#welcome h1 {
    margin:0;
}



.down-arrow1, .down-arrow2, .down-arrow3, .down-arrow4 {
    height: 5%;
    position: absolute;
}

/*------------------------------------------------*/
/*ABOUT*/
/*------------------------------------------------*/

#about {
    background-color: #F9F3E6; 
    color: rgb(114, 114, 114);
}

#about-box {
    padding-top: 200px;
}

#skills {
    font-size: 60%;
    text-align: right;
}

#skills h3 {
    /* padding-left: 20%; */
}

#skills ul {
    list-style: none;
    font-size: 80%;
    padding-left: 0px;
}

#bio {
    font-size: 60%;
    padding-right: 40px;
    padding-left:40px;
    line-height: 150%;
}

#goals {
    font-size: 60%;
    padding-left: 40px;
    line-height: 150%;
}

#social-media {
    font-size: 60%;
    text-align: right;
}

#social-media a {
    text-decoration: none;
}

#photo {
    height: 200px;
    border-radius: 50%;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}

.down-arrow2 {
    margin-top: 170px;
}

.icon {
    height: 40px;
    margin-left: 20px;
}

/*------------------------------------------------*/
/*PROJECTS APPS*/
/*------------------------------------------------*/

#projects1 {
    background-color: #E2DCD5;
    color: rgb(114, 114, 114);
    font-size: 60%;
}

#projects-box {
    padding-top: 100px;
}

.headline {
    padding-left: 40px;
}

iframe {
    height: 215px;
    width: 382px;
}

#pusheen-travel{
    padding-left: 40px;
    padding-right: 20px;
    line-height: 150%;
}

#bfyhii {
    padding-right: 40px;
    padding-left: 20px;
    line-height: 150%;
}

.down-arrow3 {
    margin-top: 235px;
}

.code {
    margin-right: 40px;
}

.code2 {
    display: block;
}

/*------------------------------------------------*/
/*PROJECTS WEBSITES*/
/*------------------------------------------------*/

#projects2 {
    background-color: #E8AA8C;
    color: rgb(114, 114, 114);
    font-size: 60%
}

#projects-box2 {
    padding-top: 100px;
}

#portfolio {
    height: 215px;
    width: 382px;
}

#website-box {
    padding-top: 100px
}

.website-boxes {
    padding-left: 40px;
}

.down-arrow4 {
    margin-top: 375px;
}

/*------------------------------------------------*/
/*CONTACT*/
/*------------------------------------------------*/

#contact {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/mathyas-kurmann-102977.jpg");
    background-size: cover; 
    font-size: 60%

}

.photo-credit2 {
    float: right;
    
}

#contact h1 {
    margin:0;
}

#pitch {
    padding-top: 25%;
    padding-left: 25%;
    display: flex;
}

#pitch a {
    padding-top: 4px;
    padding-left: 10px;
}


#letter {
    height: 85%;
}

/*------------------------------------------------*/
/*CREDITS*/
/*------------------------------------------------*/

#credits { 
    background-color: rgb(211, 207, 192);
    font-size: 50%;
    display: flex;
    justify-content: space-around
}

