/*------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 2vw;
}

/*------------------------------------------------*/
/*NAVIGATION*/
/*------------------------------------------------*/

nav {
    position: fixed;

}

nav ul {
    list-style: none;
    margin-top: 25px;
    padding-left: 20px;

    /* text-align: right; */
}

nav li {
    display: inline-block;
    margin-right: 15px;

}

nav a {
    color: rgb(114, 114, 114);
    text-decoration: none;
}

#mobile-nav, #mobile-nav-close {
    display: none;
}

/*------------------------------------------------*/
/*HOME*/
/*------------------------------------------------*/

#home {
    background-image: url("../img/sabri-tuzcu-331970.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.photo-credit {
    float: right;
}

#welcome-box {
    background-color: rgba(135, 135, 228, 0.418);
    height: 600px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

#welcome {
    color: white;
    font-size: 80%;
    font-weight: 300;
    text-align: center;
}

#welcome h1 {
    margin:0;
    line-height: 60px;
}



.down-arrow1, .down-arrow2, .down-arrow3, .down-arrow4 {
    height: 5%;
    position: absolute;
}

/*------------------------------------------------*/
/*ABOUT*/
/*------------------------------------------------*/

#about {
    background-color: #F9F3E6;
    color: rgb(114, 114, 114);
}

#about-box {
    flex: display;
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    padding-top: 200px;
}

#skills {
    font-size: 60%;
    background-color: rgba(255, 208, 0, 0.432);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:40px;
}

#skills h1 {
    margin-bottom: 0;
}

#skills ul {
    list-style: none;
    font-size: 80%;
    padding-left: 0px;
}

#bio {
    background-color: rgba(255, 192, 203, 0.432);
    font-size: 60%;
    padding-right: 40px;
    padding-left:40px;
    line-height: 150%;
    padding-top: 20px;

}

#goals {
    background-color: rgba(157, 156, 240, 0.432);
    font-size: 60%;
    padding-left: 40px;
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#social-media {
    font-size: 60%;
}

#social-media a {
    text-decoration: none;
}

#photo {
    height: 200px;
    border-radius: 50%;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}

.down-arrow2 {
    margin-top: 170px;
}

.icon {
    height: 40px;
    margin-left: 20px;
}

/*------------------------------------------------*/
/*PROJECTS APPS*/
/*------------------------------------------------*/

#projects1 {
    background-color: #E2DCD5;
    color: rgb(114, 114, 114);
    font-size: 50%;
}

#projects-box {
    padding-top: 100px;
    padding-bottom: 50px;
}

#apps {
    display: flex;
    align-content: center;
    justify-content: center;
}

.headline {
    padding-left: 40px;
}

iframe {
    height: 215px;
    width: 382px;
}

#pusheen-travel{
    padding-left: 40px;
    padding-right: 20px;
    line-height: 150%;
}

#bfyhii {
    padding-right: 40px;
    padding-left: 20px;
    line-height: 150%;
}

.down-arrow3 {
    margin-top: 235px;
}

.code {
    margin-right: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.code2 {
    display: block;
}

#apps img {
    margin-top: 22px;
    margin-right: 5px;
    height: 25px;
}

.apps {
    margin-right: 100px;
}

/*------------------------------------------------*/
/*PROJECTS WEBSITES*/
/*------------------------------------------------*/

#projects2 {
    background-color: #E8AA8C;
    color: rgb(114, 114, 114);
    font-size: 50%
}

#projects-box2 {
    padding-top: 100px;
}

#portfolio {
    height: 215px;
    width: 382px;
}

#websites {
    display: flex;
    align-content: center;
    justify-content: center;
}


.website-boxes {
    padding-left: 40px;
}

.down-arrow4 {
    margin-top: 375px;
}

#websites img {
    margin-top: 22px;
    margin-right: 5px;
    height: 25px;
}

/*------------------------------------------------*/
/*CONTACT*/
/*------------------------------------------------*/

#contact {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/mathyas-kurmann-102977.jpg");
    background-size: cover;
    font-size: 60%

}

.photo-credit2 {
    float: right;

}

#contact h1 {
    margin:0;
}

#pitch {
    padding-top: 25%;
    padding-left: 25%;
    display: flex;
}

#pitch a {
    padding-top: 4px;
    padding-left: 10px;
}


#letter {
    height: 85%;
}

/*------------------------------------------------*/
/*CREDITS*/
/*------------------------------------------------*/

#credits {
    background-color: rgb(211, 207, 192);
    font-size: 50%;
    display: flex;
    justify-content: space-around
}

